{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Post</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/edit-profile.css' %}">

{% endblock %}

</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'Index'%}">Home</a></li>
      <li><a href="{% url 'directory'%}">Directory</a></li>
    </ul>
  </div>
</nav>

  <div class="container mt-4 text-center">
  <div class="panel panel-default">
    <div class="panel-body">
      <form action="{% url 'new-project'%}" method="post"  enctype="multipart/form-data">

        {% csrf_token%}
        {% bootstrap_form form %}
        <div class="form-group text-center">
          <input type="submit" class="btn btn-primary sign-up-button" value="Share"><a href="{% url 'Index' %}" >
        </div>
        <input type="hidden" name="next" value="{{next}}">
      </form>
    </div>
  </div>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

</body>

</html>